/*
	Author:	Domingos Baia and Maxine;
	version:0.0.1;
	contributes:
	[*]Mauroh Moreno;
	[*]Emilson Clinton;
	[*]Eddi Ferreira;
	[*]Laton MEndes.]
	Date:32/13/3020;
	
	project site:sociedadehackerangola.co.ao

*/


